body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{padding:0;margin:0;}
fieldset,img,html,body,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,em,strong,b,small,caption,th{font-weight:normal;font-style:normal;font-size:100%;}
caption,th{text-align:left;}
body{word-wrap:break-word;font-size:28px;line-height:normal;font-family:Arial,Helvetica,sans-serif;color:#444;}
textarea,input,button,select{outline:0;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;}
input[type="text"],input[type="password"]{-webkit-appearance:none;}
a,button{cursor:pointer;}
textarea{resize:none;}
a{text-decoration:none;color:#83929d;}
section{display: block;}

html,body{width:100%;height: 100%;overflow: hidden;}
.scroll-container{backface-visibility: hidden;-webkit-transition: all .5s;transition: all .5s;position: relative;}
section{width: 100%;height: 100%;overflow: hidden;position: relative;}